<div>
    <form id="formLogin" class="formLoginStyle">
        <h2>Enter your account</h2>
        <input class="control" name="email" placeholder="Enter your email">
        <input class="control" name="password" type="password" placeholder="Enter your password">
        <input class="buttonLogin" type="submit" value="login">
        <p class="passwordRemember"><a href="">¿don't you remember the password?</a></p>
        <p class="errorMessageStyle" id="errorMessage"></p>
    </form>
</div>

<script src="/js/login.js"></script>