<div>
    <h1>REAL TIME PRODUCTS</h1>
    <section>
      <article id="listProducts" class="productsContainer">
      </article>
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>