<div style="background-color: #000000; border-radius:5px">
    <h1 style="font-size: 2em; color:#ff9900 ;text-align:center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 4px;">THANK YOU FOR YOUR PURCHASE</h1>
    <div style="width: 80%; margin:0 auto;">
        <h2 style="font-size: 2em; color:#ffffff; text-align:center">PURCHASE DETAILS:</h2>
        <b style="color: #ff9900; font-size:1.4em; text-align:center">PURCHASE-CODE: {{ticket.code}}</b>
        <br>
        <b style="color: #ff9900; font-size:1.4em; text-align:center">PURCHASE-DATE: {{ticket.purchase_datetime}}</b>
        <br>
        <b style="color: #ff9900; font-size:1.4em; text-align:center">TOTAL PRICE: {{ticket.amount}}</b>
    </div>
    <div style="width: 70% ; margin: 0 auto; margin-top:30px; margin-bottom:30px">
        <img style="width: 100%; height:400px" src="cid:banner" alt="">
    </div>
    <p style="font-size: 2.1em; color:#ffffff; text-align:center; font-family:'Courier New', Courier, monospace;">Thank you for trusting us, we hope to see you back</p>
</div>