<div>
    <h1 style="color: black; text-align:center; font-size:2.6em">Restore your password</h1>
    <br/>
    <div style="width: 70% ; margin: 0 auto">
        <img style="width: 100%; height:200px" src="cid:banner" alt="">
    </div>
    <h2 style="color: aqua;"></h2>
    <p>Please do not enter the password you currently have</p>
    <p>Restablece tu contraseña en <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">Este enalce</a></p>
</div>