<div>
    <h1 style="color: black; text-align:center; font-size:2.6em">Welcome to the best virtual gym store in the world</h1>
    <br/>
    <div style="width: 70% ; margin: 0 auto">
        <img style="width: 100%; height:200px" src="cid:banner" alt="">
    </div>
    <h2 style="color: aqua;">Welcome {{user.first_name}}, thanks for registering</h2>
</div>