@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style body */
body{
    background-image: url("/img/fondo-login.jpg");
}

/* style formLogin */
.formLoginStyle{
    width: 400px;
    height: 480px;
    background: #000000;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border: solid 2px #9BA4B5;
    color: white;
}

    .formLoginStyle h2 {
        margin: 0;
        text-align: center;
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 1px solid;
        font-size: 1.5em;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', sans-serif;
    }

    .formLoginStyle .passContainer {
        display: flex;
        position: relative;
    }

        .formLoginStyle .passContainer i {
            position: absolute;
            right: 0;
            margin-top: 15px;
            margin-right: 10px;
        }

    .formLoginStyle .control {
        width: 100%;
        border: 1px solid #fff;
        margin-bottom: 15px;
        padding: 11px 10px;
        background: #252323;
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;

    }

    .formLoginStyle .buttonLogin{
        width: 100%;
        height: 40px;
        background-color: #9BA4B5;
        border: none;
        color: white;
        margin-bottom: 16px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5em;
        letter-spacing: 4px;
    }

        .formLoginStyle .buttonLogin:hover{
            opacity: 0.7;
            cursor: pointer;
        }

    .formLoginStyle .errorMessageStyle {
        font-size: 1.2em;
        font-family: 'Bebas Neue', sans-serif;
        color: #B04759;
        margin-top: 5px;
        letter-spacing: 3px;
        text-align: center;
    }

    .formLoginStyle .linkToRegister {
        height: 40px;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    .formLoginStyle .passwordRemember{
        height: 40px;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        border-bottom: 1px solid;
    }

    .formLoginStyle a{
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        font-family: 'Bebas Neue', sans-serif;
    }

        .formLoginStyle a:hover{
            text-decoration: underline;
        }

    .formLoginStyle .githubIcon{
        text-align: center;
        padding: 7px;
    }

        .formLoginStyle .githubIcon a:hover {
            color: #017bab;
            cursor: pointer;
            transition: 2s;
        }

/* style modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s
}

.modalShow {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;

}

    .modal .modalContainer {
        margin: auto;
        width: 90%;
        height: 45%;
        max-width: 600px;
        max-height: 90%;
        background-color: #000000;
        border-radius: 6px;
        border: #9BA4B5 1px solid;
        padding: 3em 2.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        transform: var(--transform);
        transition: var(--transition);     
    }

    .modal .modalContainer .modalTitle {
        font-size: 2.5em;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 4px;
        color: #fff;
    }

    .modal .modalContainer .modalText {
        font-size: 1.3em;
        font-family: 'Bebas Neue', sans-serif;
        color: #fff014;
        text-align: center;
        letter-spacing: 2px;
    }

    .modal .modalContainer .formModal {
        margin: auto;
        width: 80%;
    }

        .modal .modalContainer .formModal .controls {
            width: 100%;
            border: 1px solid #fff;
            margin-bottom: 15px;
            padding: 11px 10px;
            background: #252323;
            font-size: 1.2em;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
            font-weight: bold;
            color: #fff;
        }
       
        .modal .modalContainer .formModal .buttonModal {
            display: flex;
            width: 70%;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border: none;
            border-radius: 3px;
            font-size: 1.6em;
            padding: 3px;
            background-color: #9BA4B5;
            color: #fff;
            letter-spacing: 3px;
            font-family: 'Bebas Neue', sans-serif;
            margin-top: 7px;
        }

        .modal .modalContainer .formModal .buttonModal:hover {
            cursor: pointer;
            opacity: 0.7;
        }

    .modal .modalContainer .modalClose {
        font-size: 1.3em;
        color: #F1F6F9;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: 300;
        margin-top: 15px;
    }

    .modal .modalContainer .modalClose:hover {
        text-decoration: underline;
    }

    .modal .modalContainer .errorResetPass {
        font-size: 1.2em;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 6px;
        color: #9BA4B5;
        text-align: center;
    }


@media(max-width:750px) {
    .formLoginStyle{
        width: 350px;
        height: 460px;
    }
    
        .formLoginStyle h2 {
            font-size: 1.3em;
        }
        
        .formLoginStyle .errorMessageStyle {
            font-size: 1.1em;
            margin-top: 3px;
            letter-spacing: 2px;
        }

    .modal .modalContainer {
        width: 70%;
        height: 55%;
    }

        .modal .modalContainer .modalTitle {
            font-size: 2.1em;
            letter-spacing: 3px;
        }

        .modal .modalContainer .formModal {
            margin: auto;
            width: 80%;
        }

            .modal .modalContainer .formModal .controls {
                font-size: 1em;
            }

            .modal .modalContainer .formModal .buttonModal {
                font-size: 1.4em;
                padding: 3px;
                letter-spacing: 2px;
            }
   
        .modal .modalContainer .errorResetPass {
            font-size: 1.1em;
        }
}


@media(max-width:560px) {
    .formLoginStyle{
        width: 320px;
        height: 460px;
    }
    
        .formLoginStyle h2 {
            font-size: 1.2em;
        }
        
        .formLoginStyle .errorMessageStyle {
            font-size: 1.1em;
            margin-top: 3px;
            letter-spacing: 2px;
        }
   
    .modal .modalContainer .modalTitle {
        font-size: 1.7em;
        letter-spacing: 2px;
    }

    .modal .modalContainer .modalText {
        font-size: 1.1em;
        letter-spacing: 2px;
    }
    
    .modal .modalContainer .formModal {
        width: 90%;
    }

    .modal .modalContainer .modalClose {
        font-size: 1.3em;
        Letter-spacing: 2px;
        margin-top: 10px;   
    }
}

@media(max-width:530px) {

    .modal .modalContainer .modalTitle {
        font-size: 1.6em;
    }

    .modal .modalContainer .modalText {
        font-size: 1em;
    }
}

@media(max-width:460px) {
    .modal .modalContainer .modalTitle {
        font-size: 1.2em;
        letter-spacing: 3px;
    }
}







