@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style body */
body{
    background-image: url("/img/fondo-register.jpg");
}

/* style formRegister */

.formRegisterStyle {
    width: 400px;
    background-color: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    border: solid 2px #9BA4B5;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
}

    .formRegisterStyle h2 {
        font-size: 1.5em;
        letter-spacing: 3px;
        margin-bottom: 20px;
        font-family: 'Bebas Neue', sans-serif;
        text-align: center;
        letter-spacing: 2px;
    }

    .formRegisterStyle .controls {
        width: 95%;
        background-color: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #fff;
        font-size: 1.2em;
        color: #fff;
    }

    .formRegisterStyle .linksForm{
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        font-family: 'Bebas Neue', sans-serif;

    }

    .formRegisterStyle a {
        color: #fff;
        text-decoration: none;
        font-family: 'Bebas Neue', sans-serif;

    }

        .formRegisterStyle a:hover {
            color: #fff;
            text-decoration: underline;
        }

    .formRegisterStyle .formButtonStyle {
        width: 100%;
        background-color: #9BA4B5;
        font-weight: 900;
        border: none;
        padding: 12px;
        margin: 16px 0;
        font-size: 1.5em;
        letter-spacing: 4px;
        font-family: 'Bebas Neue', sans-serif;
    }

        .formRegisterStyle .formButtonStyle:hover{
            opacity: 0.3;
            transition: 0.9s;
            cursor: pointer;
        }

    .formRegisterStyle .errorMessageStyle{
        color: #B04759;
        text-align: center;
        font-size: 1.2em;
        font-family: 'Bebas Neue', sans-serif;
    }

@media(max-width:478px) {

.formRegisterStyle {
    width: 320px;
    background-color: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
}
      
}

