<section class="formContainer">
    <form class="formRegisterStyle" id="formRegister">
        <h2>Enter your data </h2>
        <input class="controls" name="first_name" placeholder="Enter your first name">
        <input class="controls" name="last_name" placeholder="Enter your last name">
        <input class="controls" name="age" placeholder="Enter your age">
        <input class="controls" name="email" placeholder="Enter your Email">
        <input class="controls" name="password" type="password" placeholder="Enter your password">
        <p>I agree whit the <a href="#">TERMS AND CONDITIONS</a></p>
        <input class="formButtonStyle" type="submit" value="Chek in">   
        <p><a href="">¿You are already registered?</a></p>
        <p class="errorMessageStyle" id="errorMessage"></p>
    </form>
</section>

<script src="/js/register.js"></script>