<div class="changePassContainer">
    <h2 class="modalTitle">Enter your new password</h2>
    <form action=""  id="restorePassword">
        <input type="password" class="controls" name="password" placeholder="Enter your new password">
        <input type="password" class="controls" name="confirmPass" placeholder="Confirm your new password">
        <input type="submit" class="buttonChangePass" value="change">
    </form>
    <p class="returnStyle">return to <a href="/login">login page</a></p>
    <p id="errorResetPass" class="errorResetPass"></p>
</div>


<script src="/js/restorePass.js"></script>