<h2 class="modalTitle">Enter your new password</h2>
<form action="" class="formModal" id="restorePassword">
    <input class="controls" name="password" placeholder="Enter your new password">
    <input type="submit" class="buttonModal" value="change">
</form>
<p id="errorResetPass" class="errorResetPass"></p>

<script src="/js/restorePass.js"></script>